#NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000

#APPWRITE
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT= 69fa8db600317ca81cd8
APPWRITE_DATABASE_ID=69fa8ec30020b96b6a8d
APPWRITE_USER_COLLECTION_ID=
APPWRITE_ITEM_COLLECTION_ID=
APPWRITE_BANK_COLLECTION_ID=
APPWRITE_TRANSACTION_COLLECTION_ID=
NEXT_APPWRITE_KEY= standard_2b6f42816f2b5dbd57b5f0b493727d26c777fc15912276085d085e2cfd09afe29e23aab2df2fb959371084cedd7e436d53a422ddc04bf832a6943f374f787cc4db5ed3ec0ecb9f7e420c5746ed7466ed2760b618e341074af26e6f64882a26e784961844de728b2549e24db981629cd881caf5baaf8ed2acc4ed0e80076d879d

#PLAID
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=
PLAID_PRODUCTS=
PLAID_COUNTRY_CODES=

#DWOLLA
DWOLLA_KEY=
DWOLLA_SECRET=
DWOLLA_BASE_URL=
DWOLLA_ENV=